body {
    background-color: #e8ddcb;
    font-family: Arial, Helvetica, sans-serif;
}

.bigContainer {
    width: 100%;
    min-width: 270px;
    max-width: 820px;
    margin: 0 auto;
    position: relative;
}

.courseTitleTopBox {
    width: 808px;
    padding: 6px;
    border-bottom: solid;
    border-width: 10px;
    border-color: #e8ddcb;
    background-color: #fff;
    color: #046051;
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 300;
}

div.overlayDiv {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .5;
    z-index: 400;
    display: none;
}

.sideMenuButton {
    width: 40px;
    height: 39px;
    margin: 14px 11px;
    padding-top: 1px;
    background-color: #e8ddcb;
    cursor: pointer;
    z-index: 2;
    position: relative;
    left: 0;
    
    float: left;
    display: none;
}

.courseIconBox img {
    width: 80px;
    height: 80px;
    float: left;
}

.courseTitleAndDescriptionBox {
    width: 85%;
    padding: 5px 5px 5px 10px;
    float: left;
    height: 70px;
    font-size: 25px;
}

.courseTitle {
    height: 50%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.courseHomeBox {
    width: 99%;
    min-height: calc(100vh - 111px);
    padding: 111px .5% 0;
    display: inline-block;
    background-color: #fff;
}

div.loaderWrapper>div.loaderInlineWrapper {
    display: inline-block;
    width: 100%;
}

div.loaderInverseWrapper {
    width: 100%;
}

div.summaryPageHeadersWrapper {
    width: 100%;
    text-align: center;
}

div.summaryPageHeaders {
    margin: 5px auto;
    font-size: 1.5rem;
    display: table;
    color: #046051;
}

div.summaryPageHeaders span {
    display: table-cell;
    vertical-align: middle;
}

div.summaryPageHeaders img {
    width: 30px;
    margin-top: 2px;
    margin-right: 7px;
    float: left;
}

.assignmentSubmittedOn {
    width: 100%;
    margin-top: 14px;
    color: #046051;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.assignmentInstructionsHeading {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 1.4rem;
    color: #046051;
}

.assignmentSubmitButtonNew {
    width: 205px;
    padding: 13px 0;
    margin-left: 12%;
    margin-top: 20px;
    float: left;
    font-size: 1.3rem;
    background-color: #e8ddcb;
    color: #cc2a41;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px #a2a2a2;
    box-shadow: 0 3px #a2a2a2;
    letter-spacing: 1px;
    font-weight: 700;
}

.sideMenuBar {
    height: 100%;
    position: fixed;
    top: 0;
    left: -180px;
    z-index: 400;
}

.sideMenuBarOption {
    width: 100%;
    height: 34px;
    margin: 1px 0;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.btn {
    background: #e8ddcb;
    background-image: -webkit-linear-gradient(top, #e8ddcb, #e8b461);
    background-image: -moz-linear-gradient(top, #e8ddcb, #e8b461);
    background-image: -ms-linear-gradient(top, #e8ddcb, #e8b461);
    background-image: -o-linear-gradient(top, #e8ddcb, #e8b461);
    background-image: linear-gradient(to bottom, #e8ddcb, #e8b461);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #cc2a41;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f0bf71;
    background-image: -webkit-linear-gradient(top, #f0bf71, #e3cead);
    background-image: -moz-linear-gradient(top, #f0bf71, #e3cead);
    background-image: -ms-linear-gradient(top, #f0bf71, #e3cead);
    background-image: -o-linear-gradient(top, #f0bf71, #e3cead);
    background-image: linear-gradient(to bottom, #f0bf71, #e3cead);
    text-decoration: none;
  }

  button {
      border : none;
      margin-left: 40%;
  }